# Compiled class files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.project
.classpath
.cproject
.settings/
bin/
tmp/

# VS Code
.vscode/

# Mac and Windows system files
.DS_Store
Thumbs.db
